h1 {
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

body {
    background: url('../background.webp');
    font-family: "Gill Sans", sans-serif;
}

.completeColor {
    color: green;
}

.completeStrike {
    text-decoration: line-through;
}
